<div class="form-label-group">
    {{Form::label('title', 'Nom de L\'association'), ['for' => 'Nom_association']}}
    {{Form::text('Nom_association', '', ['class' =>'form-control', 'placeholder'=>'Nom de L\'association', 'required'],'required')}}
</div>
<div class="form-label-group">
    {{Form::label('title', 'Adresse',['for'=>'Adresse'])}}
    {{Form::text('Adresse', '', ['class' =>'form-control', 'placeholder'=>'Adresse', 'required'])}}
</div>
<div class="form-label-group">
    {{Form::label('title', 'Ville',['for'=>'Ville'])}}
    {{Form::text('Ville', '', ['class' =>'form-control', 'placeholder'=>'Ville', 'required'])}}
</div>
<div class="form-label-group">
    {{Form::label('title', 'Nom',['for'=>'Nom'])}}
    {{Form::text('Nom', '', ['class' =>'form-control', 'placeholder'=>'Nom', 'required'])}}
</div>
<div class="form-label-group">
    {{Form::label('title', 'Prenom',['for'=>'Prenom'])}}
    {{Form::text('Prenom', '', ['class' =>'form-control', 'placeholder'=>'Prenom', 'required'])}}
</div>
<div class="form-label-group">
    {{Form::label('title', 'Email',['for'=>'Email'])}}
    {{Form::email('Email', '', ['class' =>'form-control', 'placeholder'=>'Email', 'required'])}}
</div>
